<div class="item-card">
    <figure class="d-flex justify-content-center align-items-center">
        <img class="p-gallery_img" src="{{item.image}}">
    </figure>
    <div>
        <div>
            <p>{{item.description}}</p>
        </div>
        <h2>{{item.price}}€</h2>
        <div class="item-card_stars-btn">
            <app-stars [starRating]="item.stars"></app-stars>
            <div>
                <button class="btn-gallery" (click)="editProduct(item)" routerLink="/gestion">Editar</button>
            </div>
        </div>
    </div>
</div>