.p-gallery {
	&__figure-grid {
		margin: 16px 0;
		height: 224px;
		width: 226px;
		cursor: pointer;
	}
		&__img{
			height: 165.5px;
		}

	&__figure-list {
		height: 20.375rem;
	}
		&__img-list {
			// width: 20.5rem;
			// height: ;
		}
}

.search {
	width: 35%;
	display: flex;
	justify-content: flex-end;
}


