.p-gallery {

	&_view{
		display: flex;
		flex-direction: row;
	}
	
	&_img{
		max-height: 165.5px;
		max-width: 231px;
	}

}

.search {
	width: 35%;
	display: flex;
}


@media (min-width: 320px) {
	.p-gallery_view {
		// flex-direction: column;
		display: none;
	}
	.search {
		justify-content: center;
		margin: 1rem auto;
	}
}

@media (min-width: 568px) {
	.p-gallery{
		&_view {
			display: none;
		}
		&_img {
			max-width: 150px;
			max-height: 100px;
			object-fit: contain;
	
		}
	}
	.search {
		justify-content: center;
		margin: 1rem auto;
	}
}

@media (min-width: 768px) {
	.p-gallery_view {
		display: flex;
		flex-direction: row;
	}
	.search {
		justify-content: flex-end;
		margin: 1rem 0;
	}
}