.gestion-container, 
.div-form, 
.div-buttons,
.preview-card {
  display: flex;
}
 

@media (min-width: 300px){

  .gestion-container, .div-form {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
    border-right: none;
    border-bottom: solid 2px var(--color-orange-dark);
  }

  label {
    margin: 1rem 0;
  }

  .div-buttons {
    margin: 1.5rem 0;
    flex-direction: column;
    align-items: center;
  }

  .preview {
    margin: 1.5rem 0 0 0;
  }

  .preview-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

@media (min-width: 568px){

  .gestion-container {
    flex-direction: column;
    align-items: center;
  }

  .div-form {
    flex-direction: column;
    align-items: center;
  }

  .form-group {
    width: 100%;
    border-right: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-group-input {
    text-align: justify;
  }

  label {
    margin: 1rem 0;
  }

  .div-buttons {
    margin: 1.5rem 0;
    flex-direction: column;
    align-items: center;
  }

  .preview {
    margin: 1.5rem 0 0 0;
  }

  .preview-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

}

@media (min-width: 760px){

  .gestion-container {
    flex-direction: row;
  }

  .div-form {
    width: 63%;
    flex-direction: column;
    align-items: flex-start;
    }
  
  .form-group {
    margin: 4.5rem 0 4rem 0;
    padding-right: 3rem;
    border-right: solid 2px var(--color-orange-dark);
    align-items: flex-start;
  }

  .form-group-input {
    width: 100%;
  }

  .input-form {
    width: 100%;
    margin: 1rem 1.5rem 1rem 0;
  }

  // label {
  //   margin-left: 1.1rem;
  // }
  .p-gestion {
    margin-bottom: 3.5rem;
  }
  
  .preview {
    margin: 4.5rem auto;
    max-height: 39.35rem;
    align-items: flex-start;
  
    &-card {
      margin: auto 0;
      height: 30rem;
      padding: 1rem;
    	background: var(--color-white);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
      float: left;
      border-radius: 20px;
    }
  }
    
  .btn-gestion-container {
    margin: 0 1rem;
  } 

}
