<main class="main-container">
    <h3 class="home-h2"><strong>Bienvenido a <i>Shopéame?</i></strong></h3>
    <article>
        <h4>Qué es <i>Shopéame?</i></h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
            molestiae animi adipisci quisquam ullam. Nesciunt blanditiis perferendis
            reiciendis repellendus officiis. Exercitationem, ducimus dolorem. Odit
            quasi possimus impedit, officia ad cumque. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Placeat perferendis temporibus,
            repudiandae omnis ab hic quo eveniet accusamus pariatur facilis cumque
            quis odit nihil quasi voluptatem voluptate. Eligendi, eum quam. Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Minima quo, saepe
            tempora eaque error eligendi culpa laborum quod ex commodi! Assumenda
            similique facilis enim libero vitae itaque repellendus at explicabo?
        </p>
    </article>

    <article>
        <h4>¿Para qué puedo usar <i>Shopéame?</i></h4>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
            alias aperiam ullam tempore tenetur enim ab, dolorum excepturi
            architecto esse saepe dolorem voluptate ipsum aut nisi! Asperiores
            debitis quisquam quae? Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Modi, alias facilis eaque exercitationem magnam saepe
            molestiae et necessitatibus autem debitis quisquam iste voluptatem
            ratione sequi, ut dignissimos harum nam nemo. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit. Modi hic omnis praesentium temporibus
            corrupti debitis ad, aliquam rerum! Possimus culpa incidunt sequi
            praesentium aut facilis ea, illo sed ipsum? Saepe.
        </p>
    </article>
    <article>
        <h4>¿Quienes hacemos <i>Shopéame?</i></h4>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam,
            perferendis exercitationem, quos illo a dolorem cumque quo, illum atque
            molestiae reiciendis reprehenderit ipsa consequatur culpa. Tenetur esse
            vel aliquid minima?
        </p>
    </article>
    <article>
        <h4>¿Es seguro usar <i>Shopéame?</i></h4>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda
            expedita veniam nostrum quod explicabo. Molestiae explicabo, tempora
            libero animi similique in ex reiciendis sapiente inventore deserunt?
            Nesciunt iste quisquam veniam.
        </p>
    </article>
</main>