<footer class="footer">
    <nav class="footer_nav">
        <p class="footer_copy">Síguenos en:</p>
        <div class="footer_container">
            <a href="#"><strong>Facebook</strong></a>
            <a href="#" class="margin"><strong>Twitter</strong></a>
            <a href="#" class="marginIns"><strong>Instagram</strong></a>
            <a href="#"><strong>TikTok</strong></a>
        </div>
    </nav>
    <p class="footer_copy">Copyright Shopéame &copy; {{today | date:'yyyy'}}</p>

</footer>