<header>
    <div class="containerTitle">
        <img src="../../../assets/img/Logo.jpg" alt="" />
        <h1 class="containerTitle__title">Shopéame!</h1>
    </div>

    <nav class="navbar navbar-default">
        <div class="navbar__div">
            <a routerLink="/">
                <img class="navbar__div--img" src="../../../assets/img/Vector.png" alt="" />
                <p class="navbar__div--p">Home</p>
            </a>
        </div>
        <div class="navbar__div">
            <a routerLink="/products">
                <img class="navbar__div--img" src="../../../assets/img/vector1.png" alt="" />
                <p class="navbar__div--p">Prod</p>
            </a>
        </div>

        <div class="navbar__div">
            <a routerLink="/gestion">
                <img class="navbar__div--img" src="../../../assets/img/vector2.png" alt="" />
                <p class="navbar__div--p">Gestión</p>
            </a>
        </div>
    </nav>
</header>