<header>
    <div>
        <h2>Shopéame</h2>
        <div class="logoContainer">
            <p>S</p>
        </div>
    </div>
    <nav>
        <div>
            <a [routerLink]="">
                <i class="bx bxs-radiation bx-spin bx-flip-vertical"></i>
            </a>
            <p>Home</p>
        </div>
        <div>
            <a [routerLink]="">
                <i class="bx bxs-binoculars bx-tada bx-flip-horizontal"></i>
            </a>
            <p>Prod</p>
        </div>

        <div>
            <a [routerLink]="">
                <i class="bx bxl-kubernetes bx-spin bx-rotate-90"></i>
                <p>Gestión</p>
            </a>
        </div>
    </nav>
</header>