table {
    text-align: center;
    width: 100%;
    padding: 3rem 0 1.5rem 0;
}

.list {
    &_img {
        max-width: 150px;
        max-height: 100px;
        object-fit: contain;
    }
    svg {
        margin-left: 0.5rem;
        margin-bottom: 0.5rem;
    }

} 


