.btn-gallery {
	background: var(--color-white);
	border: 1px solid var(--color-blue-btn);
	box-sizing: border-box;
	border-radius: 4px;
	color: var(--color-blue-edit);
	padding: 4px 12px;
	width: 88px;
	height: 32px;
  }
  
  .btn-display {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 68px;
	height: 36px;
	background: var(--color-white);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
	float: left;

	&.active {
		border-radius: none;
		background-color: var(--color-grey-10);
		box-shadow: none;
	  }
}
  
.btn-form {
	width: 150px;
	height: auto;
	color: var(--color-white);
	background: var(--color-orange-dark);
	border-radius: 4px;
	float: right;
	border-color: 1px solid var(--color-orange-dark);

	&__delete {
		color: white;
		background: red;
	}
}


  