.footer{
    background-color: var(--color-grey);

    &__text{
        color: var(--color-white);
        text-align: center;
        padding-bottom: 3rem;
    }

    &__container{
        display: flex;
        justify-content: center;
        
        a {
           color: var(--color-white);
           width: 8rem;
           text-align: center;
           text-decoration: none;
        }
        .margin{
            width: 8rem;
            border-left: solid 1px var(--color-white);
            border-right: solid 1px var(--color-white);
        }
        .marginIns{
            width: 8rem;
            border-right: solid 1px var(--color-white);
        }
    }
}
