.menu {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: var(--color-orange);
    min-width: 320px;

    &_div{
        color: var(--color-grey-item);

        img{
            width: 20px;
            height: 19.22px;
        }
        a{
            width: 100px;
            height: 56px;
            padding: 8px 0;
            text-decoration:none;
            display:flex;
            flex-direction: column;
            align-items: center;
            color: var(--color-grey-logo);
            border-radius: 10%; 
        }
        a:hover{
            background-color:rgba(235, 242, 255, 0.3);
        }

        p{
            margin: 0;
            padding: 4px;
           font-size: 14px; 
           text-align: center;
        }

    }
}