.navbar {
    display:flex;
    justify-content: center;
    height: 7rem;
    background-color: var(--color-orange);

    &__div{
        color: var(--color-grey-item);

        a{
            text-decoration:none;
            display:flex;
            flex-direction: column;
            align-items: center;
            color: var(--color-grey-logo);
            border-radius: 10%; 
            padding: 2%;
            width: 4.5rem;
            height: 2.9rem;
        }
        a:hover{
            
            background-color:var(--color-white);
            img{
                font-size: 10px;
            }
        }
    }
}