:root {
	--color-orange: #ffc970;
	--color-white: #fff;
	--color-background: #eeeeee;
	--color-grey: #333333;
	--color-grey-10: #ededed;
	--color-grey-text: #19191d;
	--color-grey-item: #787885;
	--color-grey-logo: #444444;
	--color-grey-stars: #5e6366;
	--color-orange-dark: #f89f21;
	--color-blue: #00579f;
	--color-blue-dark: #0c2146;
	--color-blue-btn: #9dc2ff;
	--color-blue-edit: #2264d1;
}
