<div class="main-container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Listado de Productos ({{list.length}})</h2>
        <div class="display">
            <div class="btn-display" [class.active]="isActiveList" (click)="listView()"><img
                    src=" ../../../../assets/img/list.svg">
            </div>
            <div class="btn-display" [class.active]="isActiveGrid" (click)="gridView()"><img
                    src="../../../../assets/img/grid.svg">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <div class="search">
            <input type="text" [ngModel]="search" (ngModelChange)=toSearch($event) placeholder="search">
        </div>
    </div>
    <div class="row">
        <div class="{{changeView}}">
            <app-item *ngIf="isActiveGrid === true" [list]="list"></app-item>
            <app-item-list *ngIf="isActiveList === true" [list]="list"></app-item-list>
        </div>
    </div>
</div>