<div class="p-gallery">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 card" *ngFor="let item of list">
            <figure class="p-gallery__figure">
                <img class="p-gallery__img" src="{{item.image}}">
                <figcaption>{{item.description}}</figcaption>
            </figure>
            <h2>{{item.price}}€</h2>
            <div class="d-flex justify-content-around align-items-center">
                <div class="d-flex justify-content-center">
                    <div *ngIf="item.stars === 5">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars > 4">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars === 4">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars > 3">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars === 3">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars > 2">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars === 2">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars > 1">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars === 1">
                        <i class='bx bxs-star' style='color:#ffce20'></i>
                    </div>
                    <div *ngIf="item.stars % 1 !==0 ">
                        <i class='bx bxs-star-half' style='color:#ffce20'></i>
                    </div>
                </div>
                <p>{{item.stars}}</p>
                <button>Comprar</button>
            </div>
        </div>
    </div>
</div>